body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
}

canvas {
    display: block;
    margin: auto;
    border: 1px solid black;
}

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#replayButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 100px;background:red;
}